/* #container {
    text-align: center;
}
.image-logo {
    width: 50%;
}
#button-section {
    text-align: center;
}
#button-section button{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}
#user-input {
    text-align: center;
}  
#button-section a {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("image/background.jpg") no-repeat center;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.login-form{    
    position: relative; 
    z-index: 2;
}
.login-form h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.user-input {
    width: 400px;
    position: relative;
}
.user-input input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
    outline: none;
}
.user-input label {
    position: absolute;
    left: 10px; 
    top: 15px;
    font-size: 18px;
    color: #999;
}
.user-input input:focus + label,
.user-input input:valid + label {
    top: 0;
    font-size: 13px;
    color: #166cea;
}